.App {
    padding: 0;
    margin: 0;
    font-family: Poppins;
    background-color: black;
}

.topic {
    font-size: 25px;
}

.my-btn {
    text-decoration: solid;
}

a:hover {
    /* color: #0056b3; */
    text-decoration: none;
}

hr{
    color: aliceblue;
}

@media only screen and (max-width: 768px) {
    .content-margin{
        margin-left: 10px
    }
}